<!-- This is a partial, an EJS template that can be included into another EJS Template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>second-express-app</title>
    <!-- Load the stylesheet from the assets folder specified in index.js -->
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>