<!-- This is a partial, an EJS template that can be included into another EJS Template -->
<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>second-express-app</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Load the stylesheet from the assets folder specified in index.js -->
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>