<!--suppress HtmlUnknownTarget -->
<%- include("../partials/header") %>

<h1>This is the HomePage</h1>

<ul>
    <li><a href="/auth/register">Sign Up!</a></li>
    <li><a href="/auth/login">Login!</a></li>
    <li><a href="/auth/logout">Logout!</a></li>
</ul>
<%- include("../partials/footer") %>