<%- include("../partials/header") %>

<h1>This is the Secret Page!</h1>
<p>:||</p>
<li><a href="/auth/logout">Logout!</a></li>
<hr>
<p><strong>btw Ryuko is of course the best waifu, and you can't change my mind because my opinion is right, end of story.</strong></p>
<hr>

<div>
    <h2>Better Days by ALI</h2>
    <p>released on the 7/10/2020</p>
    <img src="https://alienlibertyinternational.com/wp-content/uploads/2020/10/better.jpg" alt="Better days Single Cover">
</div>

<%- include("../partials/footer") %>