<%- include("partials/header") %>

<h1>Welcome to the homepage of the second-app!</h1>

<img id="waifu" src="https://s4.anilist.co/file/anilistcdn/user/banner/b242195-xHAFa9cl4c4T.jpg" alt="Ryuko">

<%- include("partials/footer") %>