<%- include("partials/header") %>

<h1>Welcome to the homepage of the second-app!</h1>

<img id="waifu" src="https://davoleo.github.io/res/img/anime.jpg" alt="Ryuko">

<%- include("partials/footer") %>